@import './components/variable.scss';

.burger {
	width: 32px;
	height: 32px;
	transform: rotate(0deg);
	transition: .3s;
	&_line {
		height: 4px;
		width: 27px;
		background-color: $w;
	}
}

.burger:active {
	transform: rotate(90deg);
	transition: .3s;
}

.burger:hover .burger_line {
	background-color: $active-active;
	transition: .3s;
}

@media (min-width: 768px) {
	
	.burger {
		display: none;
	}

}

@media (min-width: 1140px) {
	.burger:hover {
		transform: rotate(90deg);
		transition: .3s;
	}

	.burger:hover .burger_line {
		background-color: $active-active;
		transition: .3s;
	}
}

.wrapper {
	position: relative;
}

.mask {
	opacity: 0.7;
	transition: .5s;
	background: $main-regular;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 4;
}

.none {
	display: none;
}

.burger {

		&_nav {
			transition: .5s;
			position: fixed;
			z-index: 5;
			bottom: -100%;
			align-self: center;
			max-width: 355px;
			padding: 12px;
			background: $w;
			border-radius: 12px 12px 0px 0px;;
			width: 100%;
		}

		&_nav-list {
			gap: 15px;
		}

		&_item {
			border-radius: 12px;
			background-color: #F5F5FA;
			width: 100%;
			transition: .5s;

			&:active {
				background-color: $grey-separator;
				transition: .5s;
			}
		}

		&_close {
			align-self: flex-end;
		}

		&_nav-link {
			text-align: center;
			display: block;
			padding: 7px 0;
		}

		&_nav-link-active {
			color: $accent;
		}
}

.visible {
	bottom: 0;
	transition: .5s;
}

.hidden {
	overflow: hidden;
}