@import './components/variable.scss';

.team {
	padding: 30px 0px 60px 0px;

	&_card {
		border-radius: 12px;
		background: $grey-bg-alt;
		max-width: 315px;
		width: 100%;
		}

	&_img {
		max-width: 100%;
		width: 100%;
	}

	&_other-img {
		max-width: 315px;
		max-height: 500px;
		width: 100%;
		height: 100%;
		border-radius: 12px 12px 0px 0px;
	}

	&_box {
		padding: 30px;
	}

	&_title {
		background: $gradient-red-text;
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		max-width: 255px;
		width: 100%;
		line-height: normal;
		padding-bottom: 30px;
	}

	&_author {
		line-height: normal;
	}

	&_link {
		padding-bottom: 5px;
	}

	&_circle-box {
		padding-top: 30px;
	}

	&_circle {
		width: 16px;
		height: 16px;
		border-radius: 50%;
		opacity: 0.2;
	}

	&_circle-active {
		opacity: 1;
	}
}


@media (min-width: 768px) {
	
	.team {

		&_title {
			font-size: 3.8rem;
			max-width: 588px;
			width: 100%;
		}

		&_card {
			max-width: 648px;
		}

		&_other-img {
			max-width: 678px;
		}
	}

}

@media (min-width: 1024px) {
	
	.team {

		&_card {
			display: flex;
			max-width: 904px;
		}

		&_title {
			max-width: 444px;
			width: 100%;
		}

		&_other-img {
			max-width: 400px;
			max-height: 528px;
			border-radius: 12px 0px 0px 12px;
		}
	}

}

@media (min-width: 1440px) {
	
	.team {

		&_title {
			max-width: 860px;
			width: 100%;
		}

		&_card {
			max-width: 1320px;
		}

		&_other-img {
			max-width: 400px;
			max-height: 344px;
		}

	}

}

@media (min-width: 1920px) {
	
	.team {

		&_title {
			max-width: 1140px;
			width: 100%;
		}

		&_card {
			max-width: 1600px;
		}

		&_other-img {
			max-width: 400px;
			max-height: 298px;
		}
	}

}