@import '../../../styles/components/variable.scss';

.achievements {
	padding: 30px 0;

	&_box {
		max-width: 255px;
		width: 100%;
		gap: 30px;
	}

	&_title {
		text-transform: uppercase;
		letter-spacing: 1px;
		text-align: center;
		padding-bottom: 30px;
		line-height: normal;
	}

	&_box-img {
		width: 100%;
	}

	&_item {
		background-color: $w;
		border-radius: 12px;
		width: 100%;
		padding: 25px 0;
	}

	&_img {
		max-width: 100%;
		object-fit: contain;
	}
}

@media (min-width: 768px) {
	
	.achievements {

		&_img-none {
			display: flex;
			justify-content: center;
		}

		&_box {
			max-width: 648px;
		}

		&_item {
			max-width: 132px;
		}

		&_img {
			max-width: 130px;
			width: 100%;
			height: 40px;
		}
	}

}

@media (min-width: 1024px) {
	
	.achievements {

		&_box {
			max-width: 904px;
		}

		&_item {
			max-width: 196px;
		}

		&_img {
			max-width: 195px;
			height: 60px;
		}

	}

}

@media (min-width: 1440px) {
	
	.achievements {

		&_box {
			max-width: 1320px;
		}

		&_item {
			max-width: 300px;
		}

	}

}

@media (min-width: 1920px) {
	
	.achievements {

		&_box {
			max-width: 1600px;
		}

		&_item {
			max-width: 370px;
		}
	}

}