@import '../../../styles/components/variable.scss';

.achievements_box-circle .swiper-pagination {
	position: static;
	padding-top: 30px;
}

.swiper-pagination .swiper-pagination-bullet {
	width: 16px;
	height: 16px;
	background-color: $active-regular;
	opacity: 0.2;
}

.swiper-pagination .swiper-pagination-bullet-active {
	opacity: 1;
}

.swiper-wrapper .swiper-slide-active {
	display: flex;
	justify-content: center;
	height: auto;
}

.achievements_box .achievements_box-circle .swiper-pagination .swiper-pagination-bullet {
	margin: 0;
}
